PORT=8000
MONGO_URI=
JWT_SECRET=ChangeThisJwtSecretForDevelopment123!
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10

SUPER_ADMIN_EMAIL=superadmin@example.com
SUPER_ADMIN_PASSWORD=ChangeMe123!
SUPER_ADMIN_SEED_DB=false
